In [8]:
x=5

In [15]:
type(x) ## used to check the type of variables

int

In [16]:
## string

In [17]:
'Edwin'

'Edwin'

In [19]:
name="Edwin"

In [20]:
print(name)

Edwin

    ## strings

In [21]:
print(x+10)

55

In [24]:
message="I a'm fine"

In [25]:
print(message)

I a'm fine

In [26]:
'I a\'m fine '

"I a'm fine "

In [27]:
'Red' 'Car'

'RedCar'

In [28]:
'Red' ' Car'

'Red Car'

In [31]:
print('Red' + 'Car')

RedCar

In [33]:
tuple= 3,4,5,6,6,True

In [34]:
print(tuple)

(3, 4, 5, 6, 6, True)

## Arithemetic Operators

In [35]:
1+2

3

In [36]:
3-5

-2

In [38]:
4/5

0.8

In [39]:
16/3

5.333333333333333

In [41]:
float(15/4)

3.75

In [42]:
16%5

1

In [43]:
x=5 * 3

In [44]:
print(x)

15

In [45]:
5**4

625

In [56]:
print(y==5**4)

True

In [59]:
2.0 ** 5\
 + 6.0

38.0

In [62]:
day="Friday"

In [63]:
print(day[3])

d

In [64]:
def Add(a,b):
    return a+b

In [65]:
print(Add(3,4))

7

# comparison Operators

In [66]:
10==2*5

True

In [67]:
10!=10

False

In [68]:
10!=15

True

## Logicat operators

In [69]:
True and True

True

In [70]:
True and False

False

In [71]:
False and False

False

In [72]:
False or False

False

In [73]:
True or True

True

In [74]:
False or True

True

In [75]:
not True

False

In [76]:
not False

True

In [77]:
3>5 and 10<=20

False

In [79]:
participate=['edwin','muraya','edwin']

In [80]:
print(participate)

['edwin', 'muraya', 'edwin']

In [81]:
participate[1]

'muraya'

In [82]:
del participate[2]

In [83]:
participate

['edwin', 'muraya']

In [84]:
participate.append('Dwayne')

In [85]:
participate

['edwin', 'muraya', 'Dwayne']

In [86]:
participate.extend(['Joan','Kimani','jacob'])

In [87]:
participate

['edwin', 'muraya', 'Dwayne', 'Joan', 'Kimani', 'jacob']

In [88]:
print('the first paticipant is ' + participate[1])

the first paticipant is muraya

In [90]:
len("Edwin") ## computes the length of objects

5

In [92]:
len(participate) ## compute the length of participates

6

## slicing a list

## some problem may need some small piece of the data and this will require us to slice the list

In [95]:
participate[1:3]

['muraya', 'Dwayne']

In [96]:
participate[3:5]

['Joan', 'Kimani']

In [97]:
participate[4:]

['Kimani', 'jacob']

In [98]:
participate[-2:]

['Kimani', 'jacob']

In [99]:
newcomers=["Kimani","joseph"]

In [100]:
biglist=[newcomers,participate]

In [101]:
biglist

[['Kimani', 'joseph'],
 ['edwin', 'muraya', 'Dwayne', 'Joan', 'Kimani', 'jacob']]

In [103]:
biglist.sort()
biglist

[['Kimani', 'joseph'],
 ['edwin', 'muraya', 'Dwayne', 'Joan', 'Kimani', 'jacob']]

In [104]:
y=21,2,21

In [105]:
a,b,c=y

In [106]:
a

21

In [107]:
b

2

In [108]:
c

21

In [111]:
(day,month)="20,34".split(",")
day
month

'34'

In [112]:
day

'20'

In [ ]:
import pandas_datareader